.bar {
  width: 40px;
}
.bx--row {
  margin-bottom: 2rem;
}
.filter-section-chart {
  border: 0.5px solid #002060;
  padding: 1rem;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.title-chart {
  padding-top: -0.5rem;
}
.mt {
  margin-top: 2rem;
}
