.bx--label {
  font-size: 16px;
}
.filter-section {
  border: 0.5px solid #002060;
  padding: 1rem;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.mt-12 {
  margin-top: 0.8rem;
}
