.large-bootstrap-select {
  white-space: normal;
  line-height: normal;
}
.row-action {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea {
  width: 120px;
  height: 60px;
  overflow: hidden;
  resize: none;
}
.bx--text-input {
  border-bottom: 0.5px solid #002060;
  border-radius: 0.3rem;
}
