.center_titles {
    text-align: center;
  }
  
  .large-bootstrap-select {
    white-space: normal;
    line-height: normal;
  }
  .row-action {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // .bx--btn--tertiary.a {
  //   font-size: 16px;
  //   border: 2px solid green;
  //   margin-right: 6px;
  //   margin-left: 6px;
  //   color: green;
  //   border-radius: 4px;
  // }
  
  // .bx--btn--tertiary.a:hover{
  //   background: lightgreen;
  // }
  
  // .bx--btn--tertiary.a:focus{
  //   border: 2px solid lightgreen; 
  //   background: lightgreen;
  // }
  
  // .bx--btn--tertiary.b {
  //   font-size: 16px;
  //   border: 2px solid #c00000;
  //   margin-right: 6px;
  //   margin-left: 6px;
  //   color: #c00000;
  //   border-radius: 4px;
  // }
  
  // .bx--btn--tertiary.b:hover{
  //   background: lightcoral;
  // }
  
  // .bx--btn--tertiary.b:focus{
  //   border: 2px solid lightcoral; 
  //   background: lightcoral;
  // }
  
  
  // .bx--btn--tertiary.c {
  //   font-size: 16px;
  //   border: 2px solid goldenrod;
  //   margin-right: 6px;
  //   margin-left: 6px;
  //   color: goldenrod;
  //   border-radius: 4px;
  // }
  
  // .bx--btn--tertiary.c:hover{
  //   background: palegoldenrod;
  // }
  
  // .bx--btn--tertiary.c:focus{
  //   border: 2px solid palegoldenrod; 
  //   background: palegoldenrod;
  // }
  
  span.b {
    display: inline-block; 
    color: black;
    font-size: 100%;
    margin-block: 10px;
    margin-left: 4px;
    margin-right: 4px;
    width: 130px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid black;
    position: relative;
  }
  
  span.c {
    display: inline-block;
    color: #c00000;
    font-size: 100%;
    margin-block: 10px;
    margin-left: 4px;
    margin-right: 4px;
    width: 130px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid #c00000;
    position: relative;  
  }
  
  span.d {
    display: inline-block;
    color: skyblue;
    font-size: 100%;
    margin-block: 10px;
    margin-left: 4px;
    margin-right: 4px;
    width: 130px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid skyblue; 
    position: relative;     
  }
  
  // span.e {
  //   display: inline-block;
  //   color: green;
  //   font-size: 100%;
  //   margin-block: 10px;
  //   margin-left: 4px;
  //   margin-right: 4px;
  //   width: 130px;
  //   height: 60px;
  //   padding: 5px;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  //   border: 4px solid green;
  //   position: relative;    
  // }
    
  // span.g {
  //   display: inline-block;
  //   color: darkblue;
  //   font-size: 100%;
  //   margin-block: 10px;
  //   margin-left: 4px;
  //   margin-right: 4px;
  //   width: 130px;
  //   height: 60px;
  //   padding: 5px;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  //   border: 4px solid darkblue; 
  //   position: relative;    
  // }
  
  .textarea {
    width: 120px;
    height: 60px;
    overflow: hidden;
    resize: none;
  }